*                 text=auto

*.lock            linguist-generated=true

*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary

# Archives
*.7z              binary
*.gz              binary
*.jar             binary
*.rar             binary
*.tar             binary
*.zip             binary
*.zip             binary